<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
   
    <title>Document</title>
</head>
<nav>
  <div class="mannav" style="background-color: black;">
    <div class="container" >
      <ul class="nav" >
        <li><a href="/" style="text-decoration: none; color:#fff">Home</a></li>
                  <li><a href="/about"  style="text-decoration: none; color:#fff">About</a></li>
        <li><a href="/fav"  style="text-decoration: none; color:#fff">Favourites</a></li>
        <li><a href="/feedback"  style="text-decoration: none; color:#fff">Feedback</a></li>
        <li><a href="/game"  style="text-decoration: none; color:#fff">Game</a></li>

      </ul>
    </div>
  </div>
</nav>
  <header>
    <div class="curve">
      <h1>My Favourites</h1>
      
    </div>
    </header>
<div class="container4">
    <div class="sub-container">
        <h2 style="font-size: 40px; margin-top:20px; text-align:center;" >My Recent Trips</h2>
      <section id="My-Favourite">
     
        
        <div id="video-feed">
          <h3 style="margin-bottom: 20px;font-size: 20px;"> Video</h3>
          <video controls poster="/images/w3html5.gif" style="width:560px;height:315px;">
            <source src="/img/man.mp4" type="video/mp4">
          
            Your browser does not support the video tag.
            </video>
        </div>
        <div id="Audio-message">
          <h3 style="margin-bottom: 20px;font-size: 20px;">Audio</h3>
          <audio controls>
            <source src="/img/man1.mp3" type="audio/mp3">
  
          </audio>
        </div>
    
  
      </section>
  
    </div>
  </div>
  <div>
    <footer class="footer" id="foot">
     <h3>CONTACT Me @  </h3> <p style="padding: 10px; font-size:larger"><b>Manoj.aluri@siu.edu || +1 (510)358-5757</b></p><p style="font-size: larger;"><b>409 W College Street Apt</b></p>
<blockquote style="padding: 10px; font-size:larger" cite="www.html.org">Made with HTML and CSS</blockquote>
</footer>  
</div>
</html>